# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files
.env
.env.*

# Docker volumes
**/data/
**/volumes/
**/logs/

# Docker image build cache
**/.pytest_cache/
**/.mypy_cache/
**/.cache/

# Build artifacts
*.log
*.bak
*.swp

.DS_Store
*.sublime-workspace
*.vscode/
Thumbs.db

node_modules/
