# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files
.env
.env.*

# Docker volumes
**/data/
**/volumes/
**/logs/

# Docker image build cache
**/.pytest_cache/
**/.mypy_cache/
**/.cache/

# Build artifacts
*.log
*.bak
*.swp

*.vscode/

node_modules/

# Plex config/state
raspberry-pi-5/plex/config/
raspberry-pi-5/plex/**/Library/
raspberry-pi-5/plex/**/Application Support/

# Transmission config/state
raspberry-pi-5/transmission/config/
raspberry-pi-5/transmission/data/

# FileBrowser config
raspberry-pi-5/filebrowser/config/
